.clip {
  background: var(--mmc-home-hero-name-background);
  background: var(--mmc-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--mmc-home-hero-name-color);
}

.tagline {
  color: var(--mmc-theme-text-2);
}